@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Colors ===== */
  --body-color: #f3f6fe;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ===== Transition ===== */
  --tran-03: all 0.2s ease;
  --tran-04: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-04);
  color: var(--text-color);
}

body.dark {
  --body-color: #090d16;
  --sidebar-color: #000;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

body nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background: var(--sidebar-color);
  transition: var(--tran-04);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  max-width: 1300px;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ===== logo ===== */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo .logo-image {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.logo .logo-image img {
  width: 100%;
  height: auto;
}

.logo .logo-text {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  white-space: nowrap;
  margin-left: 5px;
}

.logo .logo-text .name {
  font-weight: 600;
  font-size: 16px;
}

.logo .logo-text .profession {
  font-size: 14px;
}

/* ===== menú ===== */
.menu {
  display: flex;
}
