@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ===== Colors ===== */
  --body-color: #f3f6fe;
  --sidebar-color: #fff;
  --primary-color: #695cfe;
  --primary-color-light: #f6f5ff;
  --toggle-color: #ddd;
  --text-color: #707070;

  /* ===== Transition ===== */
  --tran-03: all 0.2s ease;
  --tran-04: all 0.3s ease;
}

body {
  min-height: 100vh;
  background-color: var(--body-color);
  transition: var(--tran-04);
  color: var(--text-color);
}

body.dark {
  --body-color: #090d16;
  --sidebar-color: #000;
  --primary-color: #3a3b3c;
  --primary-color-light: #3a3b3c;
  --toggle-color: #fff;
  --text-color: #ccc;
}

nav,
aside {
  height: 60px;
  background: var(--sidebar-color);
  transition: var(--tran-04);
}

.wrapper {
  width: 100%;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* ===== logo ===== */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo .logo-image {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.logo .logo-image img {
  width: 100%;
  height: auto;
}

.logo .logo-text {
  display: flex;
  flex-direction: column;
  line-height: 18px;
  white-space: nowrap;
  margin-left: 5px;
}

.logo .logo-text .name {
  font-weight: 600;
  font-size: 16px;
}

.logo .logo-text .profession {
  font-size: 14px;
}

/* ===== nav-tools ===== */

.nav-tools {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.nav-tools a {
  color: var(--text-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: var(--tran-03);
}

.nav-tools a:hover {
  background-color: var(--primary-color-light);
}

.nav-tools a .bx {
  font-size: 22px;
  transition: var(--tran-03);
}

.nav-tools .bx-moon {
  display: none;
}

body.dark .nav-tools .bx-sun {
  display: none;
}

body.dark .nav-tools .bx-moon {
  display: block;
}

.avatar {
  border: solid 1px var(--text-color);
}

.avatar img {
  width: 34px;
  height: auto;
  border-radius: 50%;
}

.nav-tools .avatar:hover {
  border: solid 1px var(--primary-color);
  background-color: var(--primary-color-light);
  transition: var(--tran-03);
}

/* ===== menú ===== */
.menu {
  width: 100%;
  height: 60px;
  background-color: var(--sidebar-color);
  border-top: solid 1px var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.menu ul li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 12px;
  border-radius: 10px;
}

.menu a:hover {
  background-color: var(--primary-color-light);
}

.menu .dropdown {
  position: absolute;
  top: 140px;
  background-color: var(--sidebar-color);
  border-radius: 8px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  overflow: hidden;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  gap: 0;
  opacity: 0;
  visibility: hidden;
}

.menu ul li:hover .dropdown,
.menu ul li:hover .megaMenu {
  top: 110px;
  opacity: 1;
  visibility: visible;
  transition: var(--tran-04);
}

.dropdown li,
.dropdown a {
  width: 100%;
}

.dropdown a {
  display: block;
  border-radius: 0%;
}

@media (max-width: 768px) {
  aside {
    position: absolute;
    width: 100%;
    max-width: 350px;
    height: calc(100vh - 60px);
  }

  .menu {
    height: 100%;
    justify-content: left;
    align-items: normal;
  }

  .menu ul {
    flex-direction: column;
    align-items: normal;
    justify-content: left;
    width: 100%;
  }

  .menu a {
    display: block;
    width: 100%;
  }

  .menu .dropdown {
    position: inherit;
    box-shadow: none;
    display: none;
    padding-left: 30px;
    border-radius: 0%;
  }

  .menu .dropdown li a {
    border-radius: 5px;
  }

  .menu ul li:hover .dropdown,
  .menu ul li:hover .megaMenu {
    display: block;
    transition: var(--tran-04);
  }
}

/* ===== body ===== */

.body {
  /* position: absolute;
  top: 121px; */
}
